.page{
    font-family: 'PT Sans', sans-serif;
}

.page__form-position{
    margin: 30px auto;
}

.signup-form{
    width: 370px;
    padding: 55px 35px 160px 20px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.14);
}

.signup-form__title{
    text-align: center;
    color: #262e73;
    font-weight: 700;
    font-size: 33px;
    padding-bottom: 10px;
}

.signup-form__field-name{
    font-size: 14px;
    color: #262e73;
    display: block;
    margin: 15px 0 5px;
}

.signup-form__field{
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0 18px;
    margin-top: 4px;
}

.signup-form__field:focus {
    border: 1px solid #3AE2CE;
}

.signup-form__field::placeholder{
    font-size: 17px;
    color: #c1c9d5;
    font-weight: 400;
}

.signup-form__fieldset{
    font-size: 14px;
    color: #262e73;
    display: block;
    margin: 15px 0 5px;
    padding: 0;
    border: none;
}

.signup-form__radio-buttons{
    margin-top: 7px;
}

.signup-form__radio-label {
    margin-right: 17px;
}

.radio-label{
    font-size: 17px;
    color: #282828;
    font-weight: 400;
}

.signup-form__radio{
    margin: 0 10px 0 0;
}

.signup-form__field_password{
    color: #262e73;
}

.signup-form__conditions{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0 10px 0;
}

.signup-form__checkbox{
    margin-right: 10px;
    margin-left: 1px;
    margin-top: -10px;
}

.signup-form__conditions-text{
    font-size: 12px;
    color: #565d69;
    font-weight: 400;
}

.signup-form__conditions-text_link{
    color: #262e73;
    text-decoration: none;
}

.signup-form__submit-btn{
    width: 100%;
    height: 42px;
    border-radius: 4px;
    box-shadow: 0 3px 15px rgba(38,46,115,0.14);
    background-color: #0bc691;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    border: none;
}

.signup-form__submit-btn:focus{
    border: 1px solid black;
}